// Place all the styles related to the delayed_jobs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

tr:nth-child(even) {background-color: #f2f2f2;}

.search {
    padding: 15px 0px 15px 0px;
}


